.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: 'Nunito', sans-serif;
    padding-left: 15px;
}
.navigation{
    font-family: 'Nunito', sans-serif;
    color: #747474;
    width: 1000px;
}
.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-rows: 1fr 1fr;
    font-family: 'Nunito', sans-serif;
    color: #747474;
    grid-template-areas:
    "item1"
    "item2" "item3"
    "item4" "item5"
    ;
}
.item1 {
    grid-area: 1 / 2 / 1 / 2;
    font-family: 'Nunito', sans-serif;
    color: #747474;
    width: 400px;
}
#footer {
    bottom: 0;
    width: 100%;
}
ul {
    width: 50%;
    margin-left: auto;
}
button {
    background-color: #C9B5D2;
    border-color: #C9B5D2;
    font-family: 'Nunito', sans-serif;
    color: white;
}
@media only screen and (max-width: 600px) {
    body {
      flex-direction: column;
      width: 100%;
    }
  }